               <div class="col-xl-4 d-flex align-items-stretch p-1" >
                  <div class="icon-box mt-4 mt-xl-0">
                    {{!-- <i class="ri-time-line"></i> --}}
                    <h4>{{department_name}}</h4>
                    <a href="/departments/{{id}}">View Products</a>
                  </div>
                </div>