      <!-- ======= badge Section ======= -->
  <section id="badge" class="d-flex align-items-center">
    <div class="container text-center position-relative">
      <h1> GAIN TIME , SAVE ENERGY </h1>
    </div>
  </section>
  <!-- End badge -->

  <main id="main">

 

    <!-- ======= Visitors && Date Section ======= -->
    <section id="visitors" class="visitors">
      <div class="container">

        <div class="row visitors">

          <div class="col-lg-6 col-6 text-center">
            <span><i class="ri-calendar-event-line"></i></span>
            <p id = "currentDay"></p>
          </div>

          <div class="col-lg-6 col-6 text-center">
            <span ><i class="ri-user-line"></i></span>
            <p>Number</p>
          </div>


        </div>

      </div>
    </section><!-- End visitors && Date Section -->
    <!-- ======= About Us Section ======= -->
    <section id="About-us" class="About-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" >
            <div class="content">
              <h3>Why Flash Shopping?</h3>
              <p>
               As Benjamin Franklin said :  <br> <span id="quotes">
               <i class="ri-double-quotes-l"></i> That Time Is Money...<i class="ri-double-quotes-r"></i></span>
               <br>
               That's Why <b>Flash Shopping</b> made for, it allows customers to be able to quickly locate products ,faster and more accessible to complete their shopping trip.


              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                {{#each Departments as |department|}}
                {{> department-details}}
                {{/each}}
              </div>
            </div>
            <!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    <!-- End About us Section -->

  


    <!-- ======= Team Section ======= -->


    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" >
              <h2>Team</h2>
              <p>This Application was released by:</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" >
                  <div class="pic"><img src="/assets/img/" class="img-fluid" alt=""></div>     {{!-- you can add your profile here --}}
                  <div class="member-info">
                    <h4>Scott LaBelle</h4>
                    <span>Your Role In This Project</span>
                    <div class="social">
                      <a href=""><i class="ri-mail-line"></i></a>
                      <a href=""><i class="ri-github-line"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member" >
                  <div class="pic"><img src="/assets/img/" class="img-fluid" alt=""></div>     {{!-- you can add your profile here --}}
                  <div class="member-info">
                    <h4>Ryan Carey</h4>
                    <span>Your Role In This Project</span>
                    <div class="social">
                      <a href=""><i class="ri-mail-line"></i></a>
                      <a href=""><i class="ri-github-line"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" >
                  <div class="pic"><img src="/assets/img/" class="img-fluid" alt=""></div>     {{!-- you can add your profile here --}}
                  <div class="member-info">
                    <h4>MERYEM ADIRI</h4>
                    <span>Your Role In This Project</span>
                    <div class="social">
                      <a href=""><i class="ri-mail-line"></i></a>
                      <a href=""><i class="ri-github-line"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="pic"><img src="/assets/img/" class="img-fluid" alt=""></div>     {{!-- you can add your profile here --}}
                  <div class="member-info">
                    <h4>Tyler Magoun</h4>
                    <span>Your Role In This Project</span>
          
                    <div class="social">
                      <a href=""><i class="ri-mail-line"></i></a>
                      <a href=""><i class="ri-github-line"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="section-title">
              <h2>Contact</h2>
              <p>If you have in questions, Please fill out this Form :</p>
            </div>
          </div>

          <div class="col-lg-8" >
            <div class="info mt-4">
              <i class="ri-map-pin-line"></i>
              <h4>Location:</h4>
              <p>899 Willow Street, Manchester , NH 035978</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="ri-mail-line"></i>
                  <h4>Email:</h4>
                  <p>flashShopping@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="ri-phone-line"></i>
                  <h4>Call:</h4>
                  <p>+1 603 895699</p>
                </div>
              </div>
            </div>

            <form action=""  role="form" class="form_contact mt-4">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message"  id = "message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </section>
    <!-- End Contact Section -->
  </main><!-- End #main -->