

  <main id="main">




    <!-- ======= login Us Section ======= -->
    <section id="About-us" class="About-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-stretch" >
            <div class="content">
              <h3> Sing In</h3>
              <form  class="form_contact mt-4">
                <!-- <div class="row">
  
                </div> -->
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
                </div>

                <div class="form-group mt-3">
                  <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                </div>
                <div class="text-center"><button type="submit">Login in </button></div>
              </form>
    
            </div>
          </div>



          <div class="col-lg-6 d-flex align-items-stretch" >
            <div class="content">
              <h3> Sing Up</h3>
                      <form action=""  role="form" class="form_contact mt-4">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="FirstName" class="form-control" id="FirstName" placeholder="First Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="lastName" id="LastNae" placeholder="Last Name" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
              </div>
              <div class="form-group mt-3">
                <input type="Cpassword" class="form-control" name="Cpassword" id="Cpassword" placeholder="Confirm your password" required>
              </div>


              <div class="text-center"><button type="submit">Confirm</button></div>
            </form>
    
            </div>
          </div>


        </div>




      </div>
    </section>
    <!-- End About Us Section -->


  </main>
  <!-- End #main -->
