  <main id="main" style="margin-top: 95px;">

    <!-- ======= Display  Products Section ======= -->

    <section id="product" class="product sectionProduct">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <div class="row">


                {{#each products as |product|}}
                {{> products-details}}
                {{/each}}

              
            </div>

          </div>
        </div>
      </div>
    </section><!-- End Products Section -->


  </main><!-- End #main -->

  <script src="/assets/js/product.js"></script>

  <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
